/* Global Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Body Styles */
body {
    height: 100vh;
    background-color: #1d2630;
}

/* Common Styles for Start Screen and Score Container */
.start-screen,
.score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Start Section Styles */
/* Welcoming Screen Styles */
#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #1d2630;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-family: 'Arial', sans-serif; /* Choose a welcoming font */
}

#start label {
    display: block;
    margin-bottom: 20px;
    font-size: 1.2em;
}

#playlist {
    padding: 10px;
    width: 60%; /* Adjust the width as needed */
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1em;
}

.play {
    background-color: #2ecc71;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.3s ease; /* Add a smooth transition */
}

.play:hover {
    background-color: #27ae60;
}
 

/* Common Button Styles */
button {
    border: none;
    outline: none;
    cursor: pointer;
}

/* Common Styles for Buttons */
#start-button,
#restart,
.play,
.tracks button {
    font-size: 1.33em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .4);
}

#restart {
    margin-top: 0.9em;
}

/* Tracks Section Styles */
#tracks {
    background-color: #fff;
    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
}

/* Header Styles */
.header {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
}

/* Timer Styles */
.timer-div {
    background-color: #e1f5fe;
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
}

/* Question Styles */
.question {
    margin-bottom: 1.25em;
    font-weight: 600;
}

/* Options Styles */
.options-div {
    font-size: 0.9em;
    width: 100%;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px sold #c0bfd2;
    border-radius: 0.3em;
}

.options-div:disabled {
    color: #000;
    cursor: not-allowed;
}

/* Next Button Styles */
#next-button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: #1d2630;
    color: #fff;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}

/* Hide Class */
.hide {
    display: none;
}

/* Correct and Incorrect Styles */
.incorrect {
    background-color: #ffdde0;
    color: #d32f2f;
    border-color: #d32f2f;
}

.correct {
    background-color: #e7f6d5;
    color: #689f38;
    border-color: #689f38;
}

/* User Score Styles */
#user-score {
    font-size: 1.5em;
    color: #fff;
}

/* Track Styles */
.track {
    display: block;
}

/* Tracks Button Styles */
.tracks button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: #1d2630;
    color: #fff;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}

.tracks button:not(:last-child) {
    border-bottom: none;
}

/* Tracks Button Hover Styles */
.tracks button:hover {
    background-color: #c0bfd2;
}

/* Game Over Screen Styles */
#game_end {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #1d2630;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

#game_end h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#end_score {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#game_end .play,
#back_to_start {
    background-color: #2ecc71;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 10px;
}

#game_end .play:hover,
#back_to_start:hover {
    background-color: #27ae60;
}
